.login {
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  margin-top: 12%;
}
.login_input {
  margin-bottom: 15px;
}
.form_input{
  border-radius: 5px;
  border: solid 1px #bcc1c3;
  padding: 5px;
  width: 95%;
}
.invalid_input {
  color: red;
}
.new_user {
  display: flex;
  margin-top: 15px;
  margin-left: 43%;
}
.invalid-data {
  color: red;
  text-align: center;
  margin-top: 15px;
}
.connexion  {
  cursor: pointer;
  margin: auto;
  text-align: center;
  margin-top: 15px;
  width: min-content;
}
