<div class="login">
  <div *ngIf="userMember">
    <div *ngIf="invalidData" class="invalid-data">Adresse mail ou mot de passe incorrecte!</div>
    <form [formGroup]="signUpUserForm" (ngSubmit)="onUsersignUpSubmit(signUpUserForm.value)" style="margin: 15px;">
      <div class="login_label">
        <label>Mail</label>
      </div>
      <div class="login_input">
        <input type="text"  formControlName="email" maxlength="30" class="form_input" >
        <div class="invalid_input" *ngIf="!signUpUserForm.get('email').valid && signUpUserForm.get('email').touched">Adresse mail non valide</div>
      </div>
      <div class="login_label">
        <label>Mot de passe</label>
      </div>
      <div class="login_input">
        <input type="password" formControlName="password" maxlength="50" class="form_input" >
        <div class="invalid_input" *ngIf="!signUpUserForm.get('password').valid && signUpUserForm.get('password').touched">Mot de passe est obligatoire</div>
      </div>
      <div  style="text-align: center;">
        <button class="btn btn-outline-dark pill_button fill_blue" type="submit | button" [disabled]="!signUpUserForm.valid">Valider</button>
      </div>
    </form>
  </div>
  <div *ngIf="!userMember">
    <div *ngIf="errorEmail" class="invalid-data">Vous êtes déjà inscrit!</div>
    <form [formGroup]="createUserForm" (ngSubmit)="onUserCreateSubmit(createUserForm.value)" style="margin: 15px;">
      <div class="login_label">
        <label>Nom</label>
      </div>
      <div class="login_input">
        <input type="text" formControlName="name" maxlength="30" class="form_input" (keyup.enter)="createUserForm.valid ? onUserCreateSubmit(createUserForm.value) : ''">
        <div class="invalid_input" *ngIf="!createUserForm.get('name').valid && createUserForm.get('name').touched">Votre nom est obligatoire</div>
      </div>
      <div class="login_label">
        <label>Mail</label>
      </div>
      <div class="login_input">
        <input type="text"  formControlName="email" maxlength="30" class="form_input" (keyup.enter)="createUserForm.valid ? onUserCreateSubmit(createUserForm.value) : ''">
        <div class="invalid_input" *ngIf="!createUserForm.get('email').valid && createUserForm.get('email').touched">Adresse mail non valide</div>
      </div>
      <div class="login_label">
        <label>Mot de passe</label>
      </div>
      <div class="login_input">
        <input type="password" formControlName="password" maxlength="50" class="form_input" (keyup.enter)="createUserForm.valid ? onUserCreateSubmit(createUserForm.value) : ''">
        <div class="invalid_input" *ngIf="!createUserForm.get('password').valid && createUserForm.get('password').touched">Mot de passe est obligatoire</div>
      </div>
      <div  style="text-align: center;">
        <button class="btn btn-outline-dark pill_button fill_blue" type="submit | button" [disabled]="!createUserForm.valid">Valider</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="userMember" class="new_user">
  <div style="margin-right: 15px; cursor: pointer;" (click)="signUpUser()">
    S'inscrire
  </div>
  <div style="cursor: pointer;">
    Mot de passe oublier
  </div>
</div>
<div *ngIf="!userMember" class="connexion" (click)="connexion()">
  Connexion
</div>
