.add-item {
  cursor: pointer;
  border: 1px solid #1976d2;
  margin: 10px;
  width: fit-content;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
}

.modal-container{
  width: 600px;
  padding: 35px;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  margin: auto;
  font-family: Inter;
  box-shadow: 0px 0px 20px #6c757d;
}
.modal-container_title {
  text-align: center;
  margin-bottom: 15px;
}
.modal-close {
  width: 15px;
  height: 15px;
  font-size: 15px;
  line-height: 10px;
  cursor: pointer;
  float: right;
}
.text_input {
  margin-bottom: 15px;
}
.form_input{
  border-radius: 5px;
  border: solid 1px #bcc1c3;
  padding: 5px;
  width: 95%;
}
.modal-container_button {
  margin-right: 15px;
  background-color: aliceblue;
  border-radius: 15px;
  outline: none;
}
.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.items-list_block {
  width: 310px;
  height: 290px;
  border: 1px solid black;
  margin: 16px;
  border-radius: 4px;
}
.items-list_block-title {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 1px;
  font-family: 'Inter'
}
.items-list_block-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}
.items-list_block-description {
  text-align: center;
  padding: 5px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
.items-list_block-close {
  float: right;
  position: relative;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.delete-item-modal_title {
  font-family: Inter;
  margin-bottom: 15px;
}
.delete-item-modal_buttom {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}
