<div class="add-item" (click)="openModalNewItem(openNewItemModal)">
  Ajouter un article
</div>
<div class="items-list">
  <div *ngFor = "let item of itemsList" class="items-list_block">
    <div class="items-list_block-close" (click)="openModalDeleteItem(oepnModalDeleteItem, item._id)">╳</div>
    <img class="items-list_block-img" src="{{item.image}}">
    <div class="items-list_block-title">{{item.name}}</div>
    <div class="items-list_block-description">{{item.description}}</div>
  </div>
</div>

<!--Modal Add Item-->
<ng-template #openNewItemModal let-modal>
  <meta charset="utf-8">
  <div class="modal-container">
    <div class="modal-close" (click)="closeModal()">╳</div>
    <div class="modal-container_title">
      Ajouter un nouvel article
    </div>
    <div>
      <form [formGroup]="addNewItemForm" (ngSubmit)="onAddNewItemSubmit(addNewItemForm.value)">
        <div class="text_label">
          <label>Nom de l'article</label>
        </div>
        <div class="text_input">
          <input type="text"  formControlName="name" maxlength="30" class="form_input" >
        </div>
        <div class="text_label">
          <label>Décrire l'article</label>
        </div>
        <div class="text_input">
          <textarea type="text"  formControlName="description" class="form_input" ></textarea>
        </div>
        <div style="margin-bottom: 10px;">
          <input
            #fileInput
            style="display: none"
            type="file"
            accept="image/*"
            (change)="onFileChanged($event.target.files)">
          <button class="modal-container_button" (click)="fileInput.click()">Select File</button>
          <span>{{imageDownloadName}}</span>
        </div>
        <div  style="text-align: center;">
          <button class="btn btn-outline-dark pill_button fill_blue" type="submit | button" [disabled]="!addNewItemForm.valid || !imageDownloaded">Valider</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #oepnModalDeleteItem let-modal>
  <div style="margin: 15px auto;">
    <div class="delete-item-modal_title"> Etes vous sur de vouloir supprimer cet articles ?</div>
  <div style="display: flex;">
    <div class="delete-item-modal_buttom" style="background-color: red;" (click)="deleteItem()">Supprimer</div>
    <div class="delete-item-modal_buttom" (click)="closeModal()">Annuler</div>
  </div>
  </div>
</ng-template>
