.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
.toolbar img {
  margin: 0 16px;
}
.spacer {
  flex: 1;
}
.connection {
  cursor: pointer;
  width: 40px;
  height: 35px;
  color: white;
  margin-right: 25px;
}
.rotate {
  -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from{
      -webkit-transform: rotate(360deg);
  }
  to{
      -webkit-transform: rotate(0deg);
  }
}
.title {
  font-weight: bolder;
  font-size: xx-large;
}
.title-description {
  font-size: x-small;
  height: 0px;
  margin-left: 10px;
}
.category {
  margin: 15px;
  cursor: pointer;
}
.category:hover {
  color: cyan;
}
.actived_element {
  color: cyan;
  font-size: x-large;
}
