<div class="toolbar" role="banner">
  <span style="cursor: pointer;" class="rotate" (click)="redirectHome()">
    <img src="assets/icons/bee2.svg">
  </span>
  <span class="title">BAYA</span>
  <div class="spacer"></div>
  <div style="height: 0;">
    <span class="category" (click)="category_selected('vente')" [ngClass]="{'actived_element': category == 'vente'}">Vente</span>
    <span class="category" (click)="category_selected('blog')" [ngClass]="{'actived_element': category == 'blog'}">Blog d'échange</span>
  </div>

  <div class="spacer"></div>
  <div class="connection" routerLink= "/login">
    <svg viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
    </svg>
  </div>
</div>
