/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular-400.otf');
 }

 .modal-window .modal-content {
  width: 600px;
  margin: auto;
}
.modal-background {
  background-color: gray;
  opacity: 0.8!important;
}
.pill_button{
  width: 176px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 #dadfe1;
  border: solid 1px #1976d2;
  cursor: pointer;
}
.fill_blue{
  background-color: #1976d2;
  color: white;
}
button:disabled {
  cursor: default;
  background-color: aliceblue;
  color: grey;
}
